<body style="text-align: center;max-height: 200px;margin: 0px;">
<div id="imagepromo">
<img style="width: 100%;" src={0}/>
</div>
<h1 style="font-family: 'Alata', sans-serif;font-size: 18px;">Tu código es:</h1>
<h2 style="font-family: 'Alata', sans-serif;font-size: 25px;">{1}</h2>

<div id="QR">
<img style="width: 15%;height: 15%;" src="{2}">
</div>
<hr>
<h3 style="font-family: 'Raleway', sans-serif;font-size: 13px;">Vence el {3}</h3>
</body>

  <!--
  {0} IMAGEN DE LA PROMO LA LEVANTA DE LA RUTA DEL CONFIG "Images" Y EL CODIGO DE LA PROMO
  {1} CODIGO DE CUPON ASIGNADO
  {2} INVOCA A LA API CONFIGURADA EN EL CONFIG "api_QR" Y LE PASA COMO PARAMETRO "api_QR_param1" EL CODIGO DEL CUPON
  {3} FECHA DE VENCIMIENTO
    -->